<h1>Flood Parameters</h1>
<form id="flood_input_form">
	 
	
	 <div class="float_flood_form">
	 <label>Other Flood Values:</label>
	 <div class="form-group">
		  <label for="channel_bed">Channel Bed Slope (S0)</label>
		  <input type="text" class="form-control width100" 
		  id="channel_bed" name="channel_bed" />
	 </div>
	 <div class="form-group">
		  <label for="flow_Q0">Initial Flow at Start of Simulation (Q0)</label>
		  <input type="text" class="form-control width100" 
		  id="flow_Q0" name="flow_Q0" />
	 </div>
	 </div>
	 
	 
	 <div >
	 
	  <label>Known Flood Values:</label>
	 
	 <div class="form-group">
		  <label for="stage_hB">Stage at Start of Flood Rise (hB)</label>
		  <input style="width: 100px" type="text" class="form-control width100" 
		  id="stage_hB" name="stage_hB" />
	 </div>
	 <div class="form-group">
		  <label for="stage_hp">Stage at Flood Peak (hp)</label>
		  <input type="text" class="form-control width100" 
		  id="stage_hp" name="stage_hp" />
	 </div>
	 
	  <div class="form-group">
		  <label for="days_between">Days Between Start of Flood Rise and Flood Peak</label>
		  <input type="text" class="form-control width100" 
		  id="days_between" name="days_between" />
	 </div>
	 
	  <div class="form-group">
		  <label for="flow_QB">Flow at Start of Flood Rise (QB)</label>
		  <input type="text" class="form-control width100" 
		  id="flow_QB" name="flow_QB" />
	 </div>
	 
	 <div class="form-group">
		  <label for="flow_Qp">Flow at Start of Flood Peak (Qp)</label>
		  <input type="text" class="form-control width100" 
		  id="flow_Qp" name="flow_Qp" />
	 </div>
	 
   	<div  class="form-group">
		<input style="background-color: #e6e6e6" type="submit" 
		class="btn btn-default" value="Submit" />
	</div>
		
	</div>

</form>